<!DOCTYPE HTML>
<html>
<body>
    <h1 style="background-color:Red";>REGISTRATION FAILED : UserId of this registration type exists already</H1>
    
<h2 style="text-align:center";>LOGIN AS : </h2 >


<h2 style="text-align:center";>Customer : </h2 >
<form action="/customer-authentication" method="post" style="text-align:center";>
  <label>USER ID:</label><br>
  <input type="text" id="customer-userid" name="customer-userid"><br>
  <label>Password:</label><br>
  <input type="password" id="customer-password" name="customer-password" ><br><br>
  <input type="submit" value="Submit">
</form>

<h2 style="text-align:center";>Service Provider : </h2 >
<form action="/service-privider-authentication" method="post" style="text-align:center";>
  <label>USER ID:</label><br>
  <input type="text" id="userID" name="userID"><br>
  <label>Password:</label><br>
  <input type="password" id="password" name="password" ><br><br>
  <input type="submit" value="Submit">
</form>

<h2 style="text-align:center";>ADMIN : </h2 >
<form action="/admin-authentication" method="post" style="text-align:center";>
  <label>USER ID:</label><br>
  <input type="text" id="customer-userid" name="customer-userid"><br>
  <label>Password:</label><br>
  <input type="password" id="password" name="password" ><br><br>
  <input type="submit" value="Submit">
</form>

</body>
</html>