<!DOCTYPE HTML>
<html>
<head>
<title>Service Provider</title>
</head>
<body>
	<h1 style="text-align:center;">SERVICE HOME PAGE</h1>
	<hr>
	<ul style="list-style-type: none; text-align:center;">
	  <li>
	  	<a href="ServiceProviderHomePage.html">Home</a> &nbsp; &nbsp; &nbsp; 
		<a href="">Order</a> &nbsp; &nbsp; &nbsp;
		<a href="">MyWallet</a> &nbsp; &nbsp; &nbsp;
		<a href="">MyOffers</a> &nbsp; &nbsp; &nbsp;
		<a href="">MyReviews</a> &nbsp; &nbsp; &nbsp;
		<a href="ServiceProviderProfile.html">MyProfile</a> &nbsp; &nbsp; &nbsp;
	    <a href="">Help</a> &nbsp; &nbsp; &nbsp;	
	  </li>
	  <hr style="width:60%;" >
	  <li style="text-align: left; margin-left:270px;">
		<h2> Welcome </h2>
		<h3>Total Number of Services Provided: 0</h3>
		<h3>Revenue generated through sales: $0.00 </h3>
		<h3>Average customer rating: 0.0 </h3>
	  </li>
	</ul>
	<div style="text-align:center;">
		<button onclick = "location.href = 'AddService.html';" >Add Service</button>
		<button onclick = "location.href = 'ViewAllService.html';" >View Service</button>
	</div>
	</body>
</html>